.header {
	padding: 26px 0;

	@include mobile {
		padding: 15px 0;
	}

    &__logo-link {
        justify-self: start;
    }

	// .header__container
	&__container {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		gap: 32px;

		@include desktop {
			grid-template-columns: 1fr 2fr 1fr;
		}
		@include laptop {
			grid-template-columns: 1fr 3fr 2fr;
		}
		@include tablet {
            grid-template-columns: 1fr 1fr;
            gap: 25px;
		}
		@include mobile {
			display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
		}
	}
	// .header__logo
	&__logo {
		display: block;

         @include mobile {
           width: 56px;
		}
	}
	// .header__search
	&__search {
		justify-self: center;
        max-width: 818px;
        @include desktop {
            justify-self: start;
            max-width: 600px;
		}
        @include laptop {
            max-width: 100%;
		}
        @include tablet {
            order: 1;
            grid-column: 2 span;
		}
	}
	// .header__nav
	&__nav {
		justify-self: end;
		display: flex;
		align-items: center;
		max-width: 330px;
		justify-content: space-between;
		width: 100%;

         @include mobile {
           max-width: 212px;
		}
	}
	// .header__phone
	&__phone {
		display: flex;
		align-items: center;
		gap: 5px;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		transition: all 0.2s ease-in-out;

		&:hover {
			color: $color-main;
		}

        @include mobile {
           font-size: 14px;
           line-height: 17px;
		}
	}
	// .header__cart
	&__cart {
        position: relative;
		svg {
			transition: fill 0.2s ease-in-out;
		}

        &::after {
            content: attr(data-count);
            position: absolute;
            right: -8px;
            bottom: -8px;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $color-main;
            width: 22px;
            height: 22px;
        }

		&:hover {
			svg {
				fill: $color-main;
			}
		}
	}
}
