.search {
	width: 100%;
	height: 50px;
	position: relative;

	@include mobile {
		height: 44px;
	}

	// .search__input
	&__input {
		width: 100%;
		height: 100%;
		border-radius: 16px;
		border: 1px solid $color-gray;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		padding-left: 24px;
		padding-right: 55px;
		&:focus {
			border: 1px solid transparent;
			outline: 2px solid $color-main;
		}

		@include mobile {
			padding-right: 44px;
		}
	}

	// .search__button
	&__button {
		position: absolute;
		top: 50%;
		right: 26px;
		transform: translateY(-50%);
		border: none;
		background-color: transparent;
		line-height: 0;

		@include mobile {
			right: 15px;
		}
	}
}
