.social {
    display: flex;
    gap: 20px;
    color: $color-secondary;
	// .social__item
	&__item {
	}
	// .social__link
	&__link {
        svg {
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            svg {
                fill: $color-main;
            }
        }
	}
}
