.filter {
	max-width: 340px;
	padding-top: 78px;

	@include tablet {
		display: none;
		position: absolute;
		background-color: $color-secondary;
		top: 0;
		right: 0;
		z-index: 555;
		padding: 14px 20px 26px;

		&_show {
			display: block;
		}
	}

	// .filter__form
	&__form {
		position: relative;
	}
	// .filter__title
	&__title {
		font-weight: 700;
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 30px;

		@include tablet {
			font-size: 22px;
			line-height: 27px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 5px;

			&::after {
				content: '';
				display: block;
				width: 18px;
				height: 18px;
				background-image: url('img/arrow-down.svg');
                transform: rotate(180deg);
			}
		}
	}
	&__field-title {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 10px;
	}
	// .filter__field
	&__field {
		margin-bottom: 30px;

		&_output {
			margin-bottom: 40px;
		}
	}
	// .filter__flex
	&__flex {
		display: flex;
		gap: 10px;
		justify-content: space-between;

		&_column {
			flex-direction: column;
		}

		label {
			cursor: pointer;
			user-select: none;
		}
	}
	// .filter__input
	&__input {
		width: 165px;
		font-size: 16px;
		line-height: 20px;
		padding-left: 10px;
		padding-right: 10px;
		height: 38px;
		border: 1px solid $color-primary;
		outline: none;

		@include laptop {
			width: 145px;
		}

		&-label {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				right: 30px;
				top: 50%;
				display: block;
				width: 10px;
				height: 10px;
				transform: translateY(calc(-50% - 2px)) rotate(45deg);
				border-width: 2px;
				border-style: solid;
				border-color: transparent $color-primary $color-primary transparent;
				z-index: 111;
			}
		}

		&_select {
			width: 100%;
			color: $color-gray;
			appearance: none;
		}

		&::placeholder {
			color: $color-gray;
		}

		&:focus {
			border: 1px solid transparent;
			outline: 1px solid $color-main;
		}
	}

	// .filter__checkbox
	&__checkbox {
		margin-right: 10px;
		cursor: pointer;
	}
	// .filter__apply
	&__apply {
		display: block;
		margin: 0 auto;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: $color-secondary;
		background-color: $color-primary;
		padding: 8px 20px;
		border: none;
		transition: all 0.2s ease-in-out;

		@include tablet {
			margin-bottom: 15px;
		}

		&:hover {
			background-color: $color-main;
		}

		&:focus {
			background-color: $color-main;
			outline: none;
		}
	}
	// .filter__reset
	&__reset {
		position: absolute;
		top: 5px;
		right: 4px;

		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: $color-gray;
		border: none;
		background-color: transparent;

		@include tablet {
			position: static;
			display: block;
			margin: 0 auto;
		}
	}
}
