.address {
	// .address__form
	&__form {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: 30px;

		@include tablet {
			grid-template-columns: 1fr 1fr;
		}

		@include mobile {
			display: flex;
            flex-direction: column;
            gap: 10px;
		}
	}

	&__input {
		width: 100%;
		height: 50px;
		padding-left: 10px;
		padding-right: 100px;
		border: 1px solid $color-gray;

		&:focus {
			border: 1px solid transparent;
			outline: 1px solid $color-main;
		}
	}
	// .address__item_select
	&__item_select {
		padding-left: 10px;
        height: 50px;
	}
	// .address__btn
	&__btn {
		background-color: $color-primary;
		color: $color-secondary;
		font-size: 16px;
		line-height: 20px;
		font-weight: 500;
		border: none;
		transition: all 0.2s ease-in-out;
         height: 50px;

		&:hover {
			background-color: $color-main;
		}

		&:focus {
			background-color: $color-main;
			outline: none;
		}

       
	}
	// .address__item_btn
	&__item_btn {
	}
	// .address__ladel-save
	&__ladel-save {
		display: flex;
		align-items: center;
		gap: 8px;
		grid-column: 3/4;
		color: $color-gray;
		cursor: pointer;

		input {
			cursor: pointer;
		}

		@include tablet {
			grid-column: 2/3;
		}
	}
	&__title {
		margin-bottom: 30px;

        @include mobile {
            margin-bottom: 20px;
        }
	}
}
